.App {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.light {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(50, 82, 224);
  background: linear-gradient(
    180deg,
    rgba(50, 82, 224, 1) 0%,
    rgba(66, 184, 241, 1) 80%
  );
}

.dark {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(3, 13, 54);
  background: linear-gradient(
    180deg,
    rgba(3, 13, 54, 1) 0%,
    rgba(6, 67, 96, 1) 80%
  );
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  margin: auto;
  height: 350px;
  width: 700px;
}
